<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.mmnotimm.telegramplus"
    android:installLocation="auto">

    <application
        android:name="org.telegram.messenger.ApplicationLoader"
        android:allowBackup="false"
        android:hardwareAccelerated="@bool/useHardwareAcceleration"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/AppName"
        android:largeHeap="true"
        android:theme="@style/Theme.TMessages.Start">

    </application>


    <activity android:name="telegramplus.markers.MarkersActivity" />

    <receiver
        android:name="org.telegram.messenger.PopupReplyReceiver"
        android:enabled="true" />

    <receiver
        android:name="telegramplus.markAsReadReceiver"
        android:enabled="true" />

</manifest>
